<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin orders</title>
<link rel="stylesheet" href="/static/css/admin_orders.css">
     <script src="https://kit.fontawesome.com/aad277c9c0.js" crossorigin="anonymous"></script>
</head>
<body>

<header style="height:7vh;align-item:text-align:center;display:flex;align-items: center;overflow:hidden;">

        <div style="display:flex;">
           <a href="/home/"><img src="/static/images/logo.png"  width="120px"></a>
             <a href="/admin_panal/"><i style="font-size: 4vh;color:rgb(90, 90, 90);padding-left:10px;margin-top:23px;" class="fa-solid fa-user-tie"></i></a>
        </div>
    <div>


    </div>
        <div class="right_header">

            <div style="text-align: right;width:100%;"><a href="/create/"><i style="font-size: 4vh;color:red;margin-right:10px;" class="fa-solid fa-circle-plus"></i></a><a href="/admin_panal/orders/"><i style="font-size: 4vh;color:red;margin-right:10px;" class="fa-solid fa-list-check"></i></a></div>
        </div>

</header>
<h1>User Orders</h1>
<table class="styled-table">
    <thead>
        <tr>
            <th>USER </th>
            <th>PRODUCT</th>
            <th>TOTAL PRICE</th>
            <th>STATUS</th>
            <th>ODERED DATE</th>
            <th>UPDATE STATUS</th>

        </tr>
    </thead>
    <tbody>
    {% for i in data %}
    <form method="post">
        {% csrf_token %}
        <input type="number" value="{{ i.id }}" name="id" hidden>
        <tr>
            <td>{{ i.user }}</td>
            <td>{{ i.product }}</td>
            <td>{{ i.total_price }}</td>
            <td>

            {% if  i.status  == 'cancel' %}
                <select  name="status">
            <option value="cancel">cancel</option>
            <option value="packing">packing</option>
            <option value="shipping">shipping</option>
            <option value="delivered">delivered</option>
                </select>
                {% elif i.status  == 'packing' %}
                <select  name="status">
              <option value="packing">packing</option>
              <option value="cancel">cancel</option>
            <option value="shipping">shipping</option>
            <option value="delivered">delivered</option>
        </select>
                {% elif i.status  == 'shipping' %}
                <select  name="status">
                     <option value="shipping">shipping</option>
              <option value="packing">packing</option>
              <option value="cancel">cancel</option>
            <option value="delivered">delivered</option>
        </select>
                {% else %}
                <select  name="status">
                    <option value="delivered">delivered</option>
              <option value="packing">packing</option>
              <option value="cancel">cancel</option>
            <option value="shipping">shipping</option>
        </select>

            {% endif %}
            </td>
            <td>{{ i.ordered }}</td>
            <td><a><button type="submit">Update</button></a></td>
        </tr>
        </form>
       {% endfor %}
    </tbody>
</table>

</body>
</html>
