<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>orders</title>
<link rel="stylesheet" href="/static/css/order.css">
</head>
<body>

<header>

        <div>
            <img src="/static/images/logo.png" height=100% width="150px">
        </div>
    <div>

        {% if  username %}
        <h2 style="padding:12px;font-size:35px;margin:0px;"><a style="text-decoration:none;" href="/login/">{{ username }}</a></h2>

        {% endif %}
    </div>
        <div class="right_header">
            <a href="/home/"><img src="/static/images/home.jpg"  height=100% width="100px"></a>
            <a href="/home/cart/"><img src="/static/images/basket.png" height=100% width="100px" ></a>

            <a href="/admin_panal/"><img src="/static/images/admin_login.png" height=100% width="100px"></a>
            <a href="/logout/"><img src="/static/images/logout.png" alt="cart" height=100% width="100px" ></a>
        </div>

</header>

<h1>My Orders</h1>

<table class="styled-table">
    <thead>
        <tr>
            <th>PRODUCT</th>
            <th>TOTAL PRICE</th>
            <th>STATUS</th>
            <th>ODERED DATE</th>

        </tr>
    </thead>
    <tbody>
    {% for i in data %}
        <tr>
            <td>{{ i.product }}</td>
            <td>{{ i.total_price }}</td>
            <td>{{ i.status }}</td>
            <td>{{ i.ordered }}</td>

        </tr>
       {% endfor %}
    </tbody>
</table>

<footer>
<div>
            <h1>Contact Us</h1>
            <h2>123 Main Street, City, Country</h2>
            <h3>Email: info@example.com</h3>
            <h4>Phone: +1234567890</h4>
        </div>
</footer>


</body>
</html>
