<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>orders</title>
<link rel="stylesheet" href="/static/css/order.css">
    <script src="https://kit.fontawesome.com/aad277c9c0.js" crossorigin="anonymous"></script>
</head>
<body>
<header style="height:7vh;align-item:text-align:center;display:flex;align-items: center;">

        <div style=" justifyContent: center; alignItems: center;text-align:center;" >
            <a href="/home/"><i style="font-size: 6vh;color:red;" class="fa-solid fa-house" ></i></a>
        </div>
    <div>

        {% if  username %}
        <h10 style="padding:12px;font-size:30px;font-family:bold;"><a style="text-decoration:none;" href="/login/">{{ username }}</a></h10>

        {% endif %}
    </div>
        <div class="right_header">
            <a href="/home/orders/"><i style="font-size: 6vh;color:rgb(150, 150, 150);padding-left:10px;" class="fa-solid fa-truck-arrow-right"></i></a>
            <a href="/home/cart/"><i style="font-size: 6vh;color:rgb(120, 120, 120);padding-left:10px;" class="fa-solid fa-cart-plus"></i></a>

            <a href="/admin_panal/"><i style="font-size: 6vh;color:rgb(90, 90, 90);padding-left:10px;" class="fa-solid fa-user-tie"></i></a>
            <a href="/logout/"><i style="font-size: 6vh;color:rgb(60, 60, 60);padding-left:10px;" class="fa-solid fa-right-from-bracket"></i></a>

        </div>

</header>

<h1>My Orders</h1>
<div style="min-height:800px;">
<table class="styled-table">
    <thead>
        <tr>
            <th>PRODUCT</th>
            <th>TOTAL PRICE</th>
            <th>STATUS</th>
            <th>ODERED DATE</th>

        </tr>
    </thead>
    <tbody>
    {% for i in data %}
        <tr>
            <td>{{ i.product }}</td>
            <td>{{ i.total_price }}</td>
            <td>{{ i.status }}</td>
            <td>{{ i.ordered }}</td>

        </tr>
       {% endfor %}
    </tbody>
</table>
</div>
<footer>
<div>
            <h1>Contact Us</h1>
            <h2>123 Main Street, City, Country</h2>
            <h3>Email: info@example.com</h3>
            <h4>Phone: +1234567890</h4>
        </div>
</footer>


</body>
</html>
