
    /* Table Styles */
    *{
    padding:0;
    margin:0;
    }
    .styled-table {
        width: 100%;
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;

    }

    .styled-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
        font-size:20px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }
    header{
        background-color:#FFEBCD;
        display: flex;
        position: fixed;
        top: 0;
        z-index: 999;
        height: 7vh;
        width:100%;
        text-align:center;
        }
        .right_header{
        text-align: right;
        width:100%;
        }
    h1{
    margin-top:100px;
    font-size:80px;
    }
 .footer {
    background-color: #FFEBCD;
    color: black;
    padding: 50px 0;
    height:400px;
}

.footer h2 {
    color: black;
}

.footer p, .footer ul {
    color: black;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
    font-size:25px;
}

.footer ul li a {
    color: black;
    text-decoration: none;
    font-size:15px;
}

.footer ul li a:hover {
    color: black;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer .container {
        text-align: center;
    }
}